@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: Nunito;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.all_shows {
    background-color: rgb(206, 203, 203);
    width: 97%;
    display: flex;
    gap: 4%;
    flex-wrap: wrap;
    padding-top: 37px;
    padding-left: 45px;
    border-radius: 0px 0px 40px 40px;
}

.rodape {
    display: flex;
    margin-top: 16px;
    justify-content: space-around;
}

.paginacao {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(175, 173, 173);
}

.show_style {
    border-radius: 14px;
    height: 513px;
    display: flex;
    margin-bottom: 4%;
    flex-direction: column;
    width: 29.6%;
    background-color: rgb(245, 241, 241);
}

.show_style h2 {
    font-size: 25px;
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.show_style p {
    margin-left: 12px;
}

.description {
    margin-top: 12px;
    word-wrap: break-word;
    width: 90%;
    height: 100px;
}

.show_style img {
    border-radius: 14px;
    width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: center;
}

.rodape {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-left: 38%;
}

.content_nome_page {
    font-size: 20px;
    background-color: rgb(206, 203, 203);
    width: 97%;
    border-radius: 40px 40px 0px 0px;
    padding: 19px 35px 0px 33px;
}

.nome_page {
    border-bottom: 3px solid black;
}

.nome_page h1 {
    padding-left: 20px;
}

.rodape p {
    display: flex;
    padding: 8px;
    border-radius: 19.5px;
    background-color: white;
    border: 2px solid purple;
}

.rodape a {
    height: 74%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    margin-left: 10px;
    text-decoration: none;
}

.rodape a:hover {
    cursor: pointer;
    background-color: rgb(112, 3, 112);
    transform: scale(1.05);
}