* {
    padding: 0px;
}

main {
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.conteudo {
    display: flex;
    justify-content: space-around;
    background-color: rgb(206, 203, 203);
    width: 90%;
    gap: 15%;
    padding: 3%;
    border-radius: 40px;
}

.first_part {
    display: flex;
    flex-direction: column;
}

.quadrado {
    padding: 4%;
    border-radius: 15px;
    background-color: rgb(245, 241, 241);
    font-size: 220%;
    width: 140%;
}

.quadrado p {
    padding-left: 3.5%;
}

.gamb {
    display: flex;
    font-size: 190%;
    margin-top: 10%;
}

.gamb input {
    height: 63%;
    border-radius: 15px;
    border: none;
    width: 60px;
    background-color: rgb(231, 225, 225);
    padding-left: 5px;
    margin-left: 10px;
}

.total {
    font-size: 200%;
}

.botao {
    background-color: purple;
    width: 60%;
    color: white;
    border-radius: 40px;
    border: none;
    padding: 3%;
    margin-top: 5%;
    font-size: 180%;
}

.botao:hover {
    transition: 1;
    scale: 1.1;
    background-color: rgb(105, 7, 105);
}

.second_part {
    background-color: rgb(245, 241, 241);
    width: 40%;
    border-radius: 30px;
    font-size: 160%;
}

.second_part p {
    padding-left: 4%;
    padding-right: 4%;
}

.second_part h2 {
    font-weight: 700;
    font-size: 190%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
}

.second_part img {
    border-radius: 30px;
    height: 51%;
}




