{% extends 'base.html' %}

{% block title %}Meus Shows{% endblock %}

{% block content %}
<div class="conteudo">
    <div class="first_part">
        <form action="{{ url_for('pagamento_interface.pagamento_interface_send', show_id=show.id) }}" method="POST">
            <div class="quadrado">
                <p>{{ show.quantidade }}</p>
                <p>{{ show.preco }}</p>
            </div><!--quadrado-->
            <div class="gamb">
                <p>Ingressos a comprar:</p>
                <input type="number" id="quantidade" name="quantidade_ingresso" value="1" min="1" max="300">
            </div><!--gamb-->
            <p>Total: <span id="valorTotal">0</span> R$</p>
            <input type="submit" class="botao" value="Enviar">
        </form>
       
    </div><!--first_part-->

    <div class="second_part">
        <img src="{{ url_for('index_gerenciamento.exibir_imagem', show_id=show.id) }}" alt="">
        <h2>{{  show.title }}</h2>
        <p>{{ show.data}} </p>
        <p>{{ show.local }}</p>
    </div><!--second_part-->
</div><!--conteudo-->
{% endblock %}

{% block script %}
<script>
    let valor = {{ show.preco }};
    console.log(valor);

    const quantidadeInput = document.getElementById("quantidade");
    const valorTotalDisplay = document.getElementById("valorTotal");

    function atualizarValorTotal() {
        const quantidade = parseInt(quantidadeInput.value, 10);
        const total = quantidade * valor;
        valorTotalDisplay.textContent = total.toFixed(2);
    }

    quantidadeInput.addEventListener("input", atualizarValorTotal);
    atualizarValorTotal();
</script>
{% endblock %}
